/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Styling the header */
header {
  background-color: #f2f2f2;
  padding: 20px 32px 9px 20px;
  border-bottom: 1px solid #cfcfcf;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1;
}

.logo {
  font-size: 24px;
}

.nav-links li {
  display: inline;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 600;
}

.nav-links li a:hover {
  color: #ff6600;
  transition: all 0.2s;
}

.nav-links li a:active {
  color: #ff6600;
}

.nav-links li a {
  text-decoration: none;
  color: #47494f;
}

.nav-links li:first-child {
  border: 1px solid #b6b5b5;
  padding: 15px 22px;
  border-bottom: none;
  border-radius: 3px;
  color: #34a8ca;
}

.nav-links li:nth-child(2) {
  padding: 14px 25px 15px 0px;
  border-right: 1px solid #cfcfcf;
}

ion-icon {
  font-size: 24px;
  margin-bottom: -5px;
  color: #47494f;
  margin-right: 6px;
}

.active {
  color: #ff6600 !important;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 0.8rem;
  padding: 18px 0px;
}

.category-dropdown {
  display: none;
}

.category-toggle {
  background-color: #d6d6d6;
  border: none;
  border-top: 1px solid #b9b8b8;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #616161;
  width: 100vw;
}

.category-toggle ion-icon {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.category-dropdown.open .category-toggle ion-icon {
  transform: rotate(180deg);
}

.category-toggle ion-icon {
  margin-left: 5px;
}

.category-list {
  display: flex;
  gap: 10px;
}

.category-list a {
  color: #707276;
  text-decoration: none;
  padding: 5px 10px;
}

a {
  text-decoration: none;
  color: #707276;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0px 50px 0px;
  background: #eaeaea;
}

.hero-img {
  height: 43vw;
}

.hero-content {
  max-width: 400px;
}

.hero-header {
  font-size: 48px;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  color: rgb(92, 92, 92);
  margin-bottom: 20px;
}

.hero-des {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 50px;
}

.searchBox {
  position: relative;
}

.searchInput {
  width: 400px;
  height: 54px;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 8px 2px;
}

.searchInput[placeholder] {
  padding: 18px;
  font-size: 16px;
}

.searchInput:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  right: 16%;
  bottom: 28%;
}

/* Add this CSS for the menu toggle button */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative; /* Added */
}

.menu-toggle span {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
}

/* Add this media query to show the menu toggle button and hide nav links */
@media (max-width: 992px) {
  .nav-links {
    display: none;
    position: absolute; /* Added */
    top: 60px; /* Adjust as needed */
    right: 0; /* Added */
    background-color: #f2f2f2; /* Added */
    padding: 10px; /* Added */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Added */
    border-radius: 5px; /* Added */
    width: 100vw;
    height: 40vh;
  }

  .menu-toggle {
    display: flex;
    z-index: 1; /* Added */
  }

  .nav-links.active {
    display: flex; /* Changed */
    flex-direction: column; /* Added */
    align-items: flex-start; /* Added */
    z-index: 1000;
  }

  .nav-links.active li {
    margin-bottom: 10px; /* Added */
    padding: 8px 20px 8px 0px;
  }

  .nav-links li:first-child {
    border: none;
  }

  .nav-links li:nth-child(2) {
    border: none;
    padding: 0px;
    padding: 8px 20px 8px 0px;
  }

  .category {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0;
    padding: 0;
  }

  .category-list {
    display: none;
  }

  .category-list p {
    margin-bottom: 10px;
  }

  .category-dropdown {
    display: block;
    position: relative;
  }

  .category-dropdown.open .category-list {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1; /* Ensure the dropdown is above other content */
    width: 100vw;
  }

  .hide {
    visibility: none;
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-header {
    font-size: 30px;
    text-align: center;
  }

  .hero-des {
    font-size: 16px;
    text-align: center;
  }
  .hero-img {
    height: 60vw;
    margin-bottom: 20px;
  }

  .hero-content {
    max-width: 400px;
  }

  .searchInput {
    width: 360px;
    height: 48px;
  }
}
